@import "reset.css";
@import "header.css";
@import "form.css";

* {
    box-sizing: b;
}

body {

    font-family: 'Noto Sans TC', sans-serif;
    font-size: 20px;
    width: 100%;
    min-height: 100vh;

}


.body-wrapper {
    width: 100%;
    min-height: inherit;
}

.main {
    max-width: 900px;
    margin: auto;
}


.main_title {
    text-align: center;
    font-size: 32px;
    font-weight: 400;
    margin: 20px 0;
}